/******* Variables */
:root {
    /* Color */
    --color-animation-body : hsl(222, 50%, 40%);
    --color-animation-back : hsl(222, 50%, 28%);
    --color-animation-yellow : hsl(54, 81%, 59%);
}
body.dark-theme {
    --color-animation-body : hsl(222, 50%, 52%);
}


/******* Dark Theme */


/******* Components */

/* Cloudy */


/* Few Cloudy */


/* Sunny */
