.todo_item {
  background-color: var(--surface4);
  border: 1px solid var(--surface4);
  margin-bottom: 4px;
  padding: 10px 20px;
}

.shadow_todo {
  border: 1px solid var(--surface3);
  box-shadow: 5px 5px 10px 1px var(--surface4);
}

.todo_title {
  color: var(--text1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo_content {
  color: var(--text2);
  max-height: 0;
  overflow: hidden;
  transition: all .3s cubic-bezier(0,1,10);
}

.todo_content h4 {
  font-weight: 400;
}

.todo_content.show {
  padding-top: 1.3em;
  height: auto;
  max-height: 9999px;
  transition: all .3s cubic-bezier(1,0,1);
}