.front {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-block: 1.5em;
}

.todos {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  color: var(--text1);
  text-transform: capitalize;
}
.todo_item {
  text-indent: .2em;
  padding-bottom: .5em;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.todo_item:not(:last-child) { 
  border-bottom: 1px solid var(--brand);
}

.todo_item:hover {
  color: var(--text2);
}
.didit {
  color: green;
  text-decoration: line-through;
}

.ajouter {
  cursor: pointer;
  transition: .3s;
}

.ajouter:hover {
  color: var(--text2);
}