.form {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  align-items: flex-start;
}

.button {
  margin-top: 1em;
  padding: .5em 1em;
  width: max-content;
  cursor: pointer;
}

.title_form {
  margin-bottom: 1em;
}

.closeBtn {
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: 7%;
  right: 5%;
  color: var(--text1);
  transition: .3s;
  cursor: pointer;
}
.closeBtn:hover {
  color: var(--text2);
}