@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* VARIABLES */
:root {

	/* COLORS */
	--hue: 222;
	--color-primary: hsl(var(--hue), 50%, 40%);
	--color-primary-alt: hsl(var(--hue), 50%, 28%);
	--color-primary-light: hsl(var(--hue), 50%, 52%);
	--color-primary-lightest: hsl(var(--hue), 24%, 72%);
	--color-title: hsl(var(--hue), 4%, 11%);
	--color-text: hsl(var(--hue), 4%, 25%);
	--color-text-light: hsl(var(--hue), 4%, 35%);
	--color-body: hsl(var(--hue), 0%, 100%);
	--color-container: #fff;

	/* FONTS SIZES */
	--f-s-sm: clamp(0.7rem, 0.35vw + 0.61rem, 0.89rem);
	--f-s-base: clamp(0.88rem, 0.57vw + 0.73rem, 1.19rem);
	--f-s-md: clamp(1.09rem, 0.89vw + 0.87rem, 1.58rem);
	--f-s-lg: clamp(1.37rem, 1.35vw + 1.03rem, 2.11rem);
	--f-s-xl: clamp(1.71rem, 2.01vw + 1.21rem, 2.81rem);
	--f-s-xxl: clamp(2.14rem, 2.93vw + 1.4rem, 3.75rem);
	--f-s-xxxl: clamp(2.67rem, 4.23vw + 1.61rem, 5rem);

	/* Spaces */
	--s-0-5 : 4px;
	--s-1 : 8px;
	--s-1-5 : 12px;
	--s-2 : 16px;
	--s-2-5 : 22px;
}

body.dark-theme {
	--color-primary-dark: hsl(var(--hue), 6%, 20%);
	--color-title: hsl(var(--hue), 5%, 95%);
	--color-text: hsl(var(--hue), 5%, 75%);
	--color-body: hsl(var(--hue), 10%, 12%);
	--color-container: hsl(var(--hue), 10%, 18%);
}


/* RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	cursor: default;
	font-family: "Poppins", sans-serif;
}

html *,
html *:before,
html *:after { box-sizing: inherit; }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
	background-color: var(--color-body);
    overflow-x: hidden;
    padding: 2em;
}

/* Reuse */
.container { padding-inline: 15px; }

.button {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    text-transform: uppercase;
    padding: var(--s-0-5) var(--s-1);
    transition: .3s;
    cursor: pointer !important;
    color: var(--color-primary-lightest);
}

.button:hover {
    background-color: var(--color-primary-alt);
    color: var(--color-primary-lightest);
}

.dark-theme .button {
    border: 1px solid var(--color-body);
    background-color: var(--color-primary-lightest);
    color: var(--color-primary);
}
.dark-theme .button:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary-lightest);
}

.h1 {
    font-weight: 100;
    font-size: var(--f-s-xxxl);
    text-transform: uppercase;
    letter-spacing: var(--s-0-5);
    color: var(--color-primary);
}

.h2 {
    font-size: var(--f-s-xxl);
    font-weight: 600;
    color: var(--color-text);
}

.h3 {
    font-size: var(--f-s-xl);
    font-weight: 400;
    color: var(--color-text);
}

.h4 {
    font-size: var(--f-s-lg);
    color: var(--color-text);
}

.h5 {
    font-size: var(--f-s-md);
    color: var(--color-text);
}

.p {
    font-size: var(--f-s-base);
    color: var(--color-text);
    margin: var(--s-1) 0;
}

.span {
    font-size: var(--f-s-sm);
}

strong {
    font-weight: 600;
}

.dark-theme .h2, .dark-theme .h3, .dark-theme .h4 , .dark-theme .h5, .dark-theme .p {
    color: var(--color-text);
}


@media (min-width: 600px) {
    .container {
        max-width: 550px;
        margin-inline: auto;
      }
}
@media (min-width: 768px) {
    .container { max-width: 720px; }
}
@media (min-width: 992px) {
    .container { max-width: 970px; }
}
@media (min-width: 1200px) {
    .container { max-width: 1200px; }
}