@import "./base.css";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.details {
    display: inline-flex;
    align-items: center;
    column-gap: var(--s-2-5);
    margin-bottom: var(--s-2);
}

.details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}