
.toggle__container {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 5em;
}
.button__toggle, .button__toggle > svg {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    cursor: pointer;
    transition: 1s all;
    color: royalblue;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    animation: toggle .3s;
    
}
.dark-theme .button__toggle {
    left: 68%;
    
}


@keyframes toggle {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }


}